header {
    height: 12.2rem;
    display: flex;
    align-items: center;
    padding-left: 7.2rem;
    gap: 4.3rem;
}

header ul {
    display: flex;
    gap: 5.4rem;
}

header ul,
header li {
    list-style: none;
}

nav a {
    font-size: 2.2rem;
    line-height: 2.2rem;
    color: var(--grey-1);
    text-decoration: none;
}

nav a.active {
    color: var(--white);
    font-weight: 700;
}

nav li:hover {
    transform: scale(1.1);
    transition: .4s;
}