@import "./css/global.css";
@import "./css/header.css";

main {
    height: calc(100vh - 12.2rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main h1 {
    color: var(--grey-2);
    font-size: 4.8rem;
    line-height: 125%;
    margin-bottom: 2.4rem;
}

main a {
    padding: 1.2rem 3.2rem;
    border: 2px solid var(--white);
    border-radius: .5rem;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    line-height: 2.4rem;
    font-size: 1.4rem;
    font-weight: 700;
}

main a:hover {
    background: var(--white);
    color: var(--blue-green);
    transition: .4s;
}